<doctype html>
    <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
    <div style = "padding-top: 100px; text-align: center;">
    <form method="post" action="/selectCourse">
        <br>
    <div style="margin-left: 25px;">
        <input type="checkbox" id="orderBy" name="orderBy" value="orderBy"> Order by a field?
   </div>
   <br>
    Enter the field name: <input name="inputtext" type="text">
    <br><br>
    <input type="submit" name="submit_button" value="Show Data">
    </form>
</div>
</doctype>