<doctype html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div style="padding-top: 100px; text-align: center;">
        <form method="post" action="/selectInstructor">
            <p>Please choose a specific option :-</p>
            <label><input type="radio" id="all" name="instructor" value="all">All Instructors</label><br>
            <label><input type="radio" id="chairs" name="instructor" value="chairs">Department Chairs</label><br>
            <br>
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="Show Data">
        </form>
    </div>
</doctype>