<doctype html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <div style="padding-top: 100px; text-align: center;">
        <h2>Select one of the tables from the database</h2>

        <form method="post" action="/select">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="COLLEGE">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="COURSE">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="DEPARTMENT">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="INSTRUCTOR">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="SECTION">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="STUDENT">
            <input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="TAKES">
        </form>
    </div>
</doctype>