<doctype html>

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }
            
            table.center {
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <div class="col-md-10 offset-md-1" style="padding-top: 100px; text-align: center;">
        <form action="/">
            <table class="center table table-striped table-bordered">
                <tr>
                    {% for field in value[0] %}

                    <th><b>{{field}}</b></th>
                    {%endfor%}
                </tr>
                {% for each in value[1:] %}
                <tr>
                    {% for field in each %}

                    <td>{{field}}</td>
                    {%endfor%}
                </tr>

                {%endfor%}
            </table>
            <br>
            <p><input type="submit" name="submit_button" class="btn btn-default btn-outline-primary" value="Return to Home Page"></p>
        </form>
    </div>
</doctype>